.todo {
  &__header {
    color: blueviolet;
  }

  &__action {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__table {
    thead {
      background-color: var(--primary-color);
      color: white;
      border-bottom: none;
    }
  }
}

.form-floating {
  width: 50%;
}

.view-btn {
  color: var(--primary-color);
  cursor: pointer;
}
