/* You can add global styles to this file, and also import other style files */

:root {
  --primary-color: blueviolet;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

p {
  margin-bottom: 0 !important;
}

.btn {
  background-color: var(--primary-color);
  color: white;
  padding: 10px 40px;
  border-radius: 20px;
}
